# Unity3D .gitignore file.
#	 Store this file at the root of your local repository.
JellyFish/.DS_Store
JellyFish/Library/AssetImportState
JellyFish/Library/AssetServerCacheV3
JellyFish/Library/FailedAssetImports.txt
JellyFish/Library/ScriptAssemblies
JellyFish/Library/ScriptMapper
JellyFish/Library/assetDatabase3
JellyFish/Library/cache
JellyFish/Library/expandedItems
JellyFish/Library/metadata
JellyFish/Library/previews
JellyFish/Library/guidmapper
JellyFish/Library
JellyFish/Temp
JellyFish/*.pidb
JellyFish/build
JellyFish/ExportedObj/
JellyFish/obj/
JellyFish/*.svd
JellyFish/*.userprefs
JellyFish/*.csproj
JellyFish/*.pidb
JellyFish/*.suo
JellyFish/*.sln
JellyFish/*.user
JellyFish/*.unityproj
JellyFish/*.booproj
JellyFish/.DS_Store
JellyFish/.DS_Store?
JellyFish/._*
JellyFish/.Spotlight-V100
JellyFish/.Trashes
JellyFish/ehthumbs.db
JellyFish/Thumbs.db
